body {
     background-color: black;
     color: white;
     font-family: verdana;
}
div {
    min-height: 50vh;
    width: 80vw
}
h1, h2 {
       text-align: center;
}
h3 {
   font-size: 1.5em;
   width: 70%;
   margin: 10vh 10vw;
}
h1 {
   font-size: 2em;
}
h2 {
   font-size: 1em;
}
img {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50px;
}
p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 1em;
}
a {
  color: (0,125,78)
}
button {
       width: 40%;
       margin: 10vh 10vw;
       font-size: 1em;
}
ul {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 1em;
}
